<h1>{_"Pages module"}</h1>

<ul class="menu">

	<li n:if="$presenter->isAllowed('Pages:Admin:Default:default')">
		<a href="{link default}"{if $presenter->isLinkCurrent("default")} class="active"{/if}>list</a>
	</li>
	
	<li n:if="$presenter->isAllowed('Pages:Admin:Default:create')">
		<a href="{link create}"{if $presenter->isLinkCurrent("create")} class="active"{/if}>new item</a>
	</li>

</ul>
